main{
    background-color: #007aff !important;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header{
    background-color: #073668 !important;
    display: flex;
}

.active{
    background-color: #007aff !important;
}

.quiz-card {
    width: 25rem;
}

.card-footer{
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: unset !important;
}